html{
    background-color: white;
}

body{
    background: #c0c0c0;
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    font-family: "Product Sans";
}

a{
    text-decoration: none;
}

.rbar{
    height: 80px;
    width: auto;
    font-size: 46px;
    text-align: center;
}

.rbar>p{
    color: white;
    margin: 0 auto;
    line-height: 80px;
}


.rbar, .cbar{
    cursor: url("../image/cursor.png"), pointer;
}

.cbar{
    width: 80px;
    height: 740px;
    font-size: 46px;
    text-align: center;
}

.cbar>p{
    text-decoration: none;
    width: auto;
    height: 740px;
    text-align: center;
    margin: auto 0;
    color: white;
    line-height: 80px;
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    -moz-transform: rotate(90deg) translateX(-57px) translateY(330px);
}

.blog{
    background-color: #cbcbcb;
    width: 1280px;
    height: 740px;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 80px;
    text-align: center;
}

.button {
    width: 8em;
    height: 2em;
    border-radius: 1em;
    outline: none;
}